@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none;
}

body {
  @apply bg-gray-100;
}

/* Navbar */
.menu-btn {
  @apply w-10 h-10 grid place-items-center text-gray-500 rounded-xl border-2 border-gray-200 
    hover:bg-gray-200/50 cursor-pointer active:scale-95;
}

/* Sidebar */
.nav-link {
  @apply flex items-center h-9 p-2
   /* text-sm font-medium */
    tracking-wide text-black rounded-lg 
    /* hover:bg-[#FFD24C] */
     /* hover:text-white  */
     hover:bg-gray-200
     transition-colors;
}

.nav-link.active {
  @apply bg-[#FFD24C] text-gray-800 
  /* color: #FFD24C;
  color: #FFE69A;
  color: #FFFFFF;
  color: #92B4EC */
  /* text-white; */;
}

.navbar {
  /* background-image: radial-gradient(at 50% -15%, #ffffff, #eaf34f); */
}

.content {
  height: calc(100vh - 76px);
  overflow-y: auto;
}


/* #FFd707 */

/* FFE700  FEFFA7 B6FFA1 00FF9C */

/*  */

/* skype */
